*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
 }

 body{
  display: flex; 
  justify-content: center;
  min-height: 100vh; 
  align-items: center;
 }

.wrapper{
  width: 100%;
  display: block;
}



.icon {
  padding: 10px;
  min-width: 50pxground;
  color: white;;
  text-align: center;
}
.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 15px;
 }
 .btn{
  background-color:hsl(230, 33%, 41%);
 }
